<div class="content-shell">
    <div class="page-centered">
        <h1>About</h1>
        <div class="about-top">
            <div class="about-mark">
                <span class="about-icon">U</span>
                <div class="copy">
                    <b>UniversalUmap</b><small>Version: 0.1.0</small>
                </div>
            </div>
            <div class="author">
                <b>Marcel K.</b
                ><a href="mailto:contact@universalumap.dev"
                    >Contact</a
                >
            </div>
        </div>
        <div>
            <div class="box">
                <div class="expandable-header">
                    <img src="assets/icons/fluent/book.svg" alt="" /><span
                        >Used Libraries</span
                    >
                </div>
                <div>
                    <div class="row">
                        <div class="copy">
                            <b>CUE4Parse</b
                            ><small
                                >Version: current · License: Apache 2.0</small
                            >
                        </div>
                        <a href="https://github.com/FabianFG/CUE4Parse"
                            >License</a
                        >
                    </div>
                    <div class="row">
                        <div class="copy">
                            <b>NoorRay</b><small>Version: current</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="copy">
                            <b>ImHTML</b><small>Version: current</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="copy">
                            <b>Dear ImGui</b><small>Version: current</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="expandable-header">
                    <img
                        src="assets/icons/fluent/external_link.svg"
                        alt=""
                    /><span>Links</span>
                </div>
                <div>
                    <p>
                        <a href="https://github.com/Ka1serM/UniversalUmap"
                            >Website</a
                        >
                    </p>
                    <p><a href="https://www.patreon.com/">Patreon</a></p>
                    <p>
                        <a href="https://github.com/Ka1serM/UniversalUmap"
                            >GitHub</a
                        >
                    </p>
                </div>
            </div>
            <section class="box">
                <h2>Description</h2>
                <p>
                    A tool for previewing and exporting Unreal Engine™ 4/5
                    levels to Blender and Unreal.
                </p>
                <p>
                    This program is not endorsed by or affiliated with Epic
                    Games or its licensors. The trademarks belong to their
                    respective owners. All rights reserved.
                </p>
                <h2>License</h2>
                <p>
                    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY
                    KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE
                    WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
                    PURPOSE AND NONINFRINGEMENT.
                </p>
                <p>Copyright ©2023-2026 Marcel K. (Ka1serM)</p>
            </section>
        </div>
    </div>
</div>
