<div class="control-group">
    <label for="camera-projection">Projection</label>
    <select id="camera-projection"></select>
</div>
<div class="control-group">
    <label for="camera-exposure">Exposure</label>
    <div class="range-control"><input id="camera-exposure" type="range" min="-100" max="100" value="0" /><output id="camera-exposure-value" class="range-value">0</output></div>
</div>
<div class="control-group">
    <label for="camera-fov">Field of View (degrees)</label>
    <div class="range-control"><input id="camera-fov" type="range" min="1" max="179" value="60" /><output id="camera-fov-value" class="range-value">60</output></div>
</div>
<div class="control-group">
    <label for="camera-focal-length">Focal Length (mm)</label>
    <div class="range-control"><input id="camera-focal-length" type="range" min="1" max="500" value="35" /><output id="camera-focal-length-value" class="range-value">35</output></div>
</div>
<div class="control-group">
    <label for="camera-aperture">Aperture Diameter (mm)</label>
    <div class="range-control"><input id="camera-aperture" type="range" min="0" max="1000" value="4.375" /><output id="camera-aperture-value" class="range-value">4.375</output></div>
</div>
<div class="control-group">
    <label for="camera-focus-distance">Focus Distance (cm)</label>
    <div class="range-control"><input id="camera-focus-distance" type="range" min="1" max="100000" value="600" /><output id="camera-focus-distance-value" class="range-value">600</output></div>
</div>
<div class="control-group">
    <label for="camera-bokeh-bias">Bokeh Bias</label>
    <div class="range-control"><input id="camera-bokeh-bias" type="range" min="0.001" max="10" value="1" /><output id="camera-bokeh-bias-value" class="range-value">1</output></div>
</div>
