<div class="page-header">
    <div class="copy"><h1>Options</h1></div>
</div>
<div class="box">
    <settings-box
        icon="assets/icons/fluent/person.svg"
        title="Actors"
        subtitle="Load actors."
        ><input id="load-actors" name="load-actors" type="checkbox" role="switch" aria-label="Actors" />
    </settings-box>
    <settings-box
        icon="assets/icons/fluent/lightbulb.svg"
        title="Lights"
        subtitle="Load lights."
        ><input id="load-lights" name="load-lights" type="checkbox" role="switch" aria-label="Lights" />
    </settings-box>
    <settings-box
        icon="assets/icons/fluent/organization.svg"
        title="SubLevels"
        subtitle="Load sublevels of the selected level."
        ><input
            id="load-sublevels"
            name="load-sublevels"
            type="checkbox"
            role="switch"
            aria-label="SubLevels"
        />
    </settings-box>
    <settings-box
        icon="assets/icons/fluent/earth.svg"
        title="World Partition"
        subtitle="Load world partition grid levels."
        ><input
            id="load-world-partition"
            name="load-world-partition"
            type="checkbox"
            role="switch"
            aria-label="World Partition"
        />
    </settings-box>
    <settings-box
        icon="assets/icons/fluent/landscape.svg"
        title="Landscapes"
        subtitle="Load landscape heightmaps."
        ><input
            id="load-landscapes"
            name="load-landscapes"
            type="checkbox"
            role="switch"
            aria-label="Landscapes"
        />
    </settings-box>
    <settings-box
        icon="assets/icons/fluent/eye_off.svg"
        title="Hidden"
        subtitle="Load actors and components marked as hidden."
        ><input id="load-hidden" name="load-hidden" type="checkbox" role="switch" aria-label="Hidden" />
    </settings-box>
    <settings-box
        icon="assets/icons/fluent/layer.svg"
        title="Level Of Detail"
        subtitle="Load all LOD variants of a mesh."
        ><input
            id="load-level-of-detail"
            name="load-level-of-detail"
            type="checkbox"
            role="switch"
            aria-label="Level Of Detail"
        />
    </settings-box>
    <settings-box
        icon="assets/icons/fluent/box.svg"
        title="Nanite"
        subtitle="Load the Nanite LOD of a mesh."
        ><input id="load-nanite" name="load-nanite" type="checkbox" role="switch" aria-label="Nanite" />
    </settings-box>
</div>
