<div class="content-shell">
    <div class="page-centered">
        <h1>Questions And Answers</h1>
        <div class="box">
            <div class="expandable-header">
                <img
                    src="assets/icons/fluent/question_circle.svg"
                    alt=""
                /><span>Where can I find the Plugins?</span>
            </div>
            <div>
                Plugins are now located in the Plugins Tab. Select your
                Blender.exe or .uproject there, and the app will install and
                activate the plugin for you automatically. It will also keep the
                plugins updated seamlessly.
                <div class="button-row">
                    <a id="qa-open-plugins" class="button primary" href="#plugins">
                        Open Plugins
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
